[Unit]
Description=poc-ingest
After=network.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/opt/poc-ingest/bin/poc-ingest
User=helium
PIDFile=/var/run/poc-ingest
Restart=always
RestartSec=15
WorkingDirectory=/opt/poc-ingest

[Install]
WantedBy=multi-user.target
