
# log settings for the application (RUST_LOG format). Default below
# 
# log = "iot_packet_verifier=debug"

# Cache location for generated verified reports; Required
cache = "/var/data/verified-reports"

# URL for the config server
org_url = ""

# Path to the keypair used to authorize config server rpc calls
config_keypair = ""

# We will burn data credits from the solana chain every `burn_period` minutes.
burn_period = 1

# If set to true, enables integration with the Solana network. This includes
# checking payer balances and burning data credits. If this is disabled, all
# payers will have a default balance of 1,000,000 data credits, and burned
# data credits will only be stored in the database. This is set to false by
# default.
enable_solana_integration = "false"

# Minimum number of DC left in a balance before we disable the organization.
# Defaults to 35_000_000 DC, which equates to $35
minimum_allowed_balance = 35_000_000

[solana]
# Solana RPC. This may contain a secret 
rpc_url = "http://localhost:8899"
# Path to the keypair used to sign data credit burn solana transactions
burn_keypair = ""
# Solana cluster to use. "devnet" or "mainnet"
cluster = "devnet"
# Public key for the Data Credits Mint
dc_mint = "dcuc8Amr83Wz27ZkQ2K9NS6r8zRpf1J6cvArEBDZDmm"
# Public key for the DNT Mint (IOT mint)
dnt_mint = "iotEVVZLEywoTn1QdwNPddxPWszn3zFhEot3MfL9fns"

[database]

url = "postgresql://postgres:password@localhost:5432/postgres"

# Max connections to the database. Default below
#
# max_connections = 10

[ingest]

# Input bucket details for ingest data 

# Name of bucket to access ingest data. Required
#
bucket = "helium-hpr-alpha"

# Region for bucket. Defaults to below
#
region = "us-west-1"

# Optional URL for AWS api endpoint. Inferred from aws config settings or aws
# IAM context by default
#
# endpoint = "https://aws-s3-bucket.aws.com"

[output]
# Output bucket for verified reports

# Name of bucket to write details to. Required
#
bucket = "todo"

# Region for bucket. Defaults to below
#
# region = "us-west-2"

# Optional URL for AWS api endpoint. Inferred from aws config settings or aws
# IAM context by default
#
# endpoint = "https://aws-s3-bucket.aws.com"

[metrics]

# Endpoint for metrics. Default below
#
# endpoint = "127.0.0.1:19000"
