RUST_LOG=info
METRICS_SCRAPE_ENDPOINT=127.0.0.1:19000
DATABASE_URL=db_url
FOLLOWER_URI=http://127.0.0.1:8080
BUCKET=examplenet-pociot-verified
POC_IOT_INJECTOR_KEYPAIR=/tmp/poc_iot_injector_keypair
LAST_POC_SUBMISSION_TS=0000000000
