RUST_LOG=info
METRICS_SCRAPE_ENDPOINT=127.0.0.1:19000
DATABASE_URL=db_url
FOLLOWER_URI=http://127.0.0.1:8080
BUCKET=examplenet-pociot-verified
POC_IOT_ORACLE_KEY=/tmp/poc_oracle_key
POC_IOT_REWARDS_STORE=examplenet-pociot-rewards
LAST_POC_SUBMISSION_TS=0000000000
