[Unit]
Description=poc-iot-injector
After=network.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/opt/poc-iot-injector/bin/poc-iot-injector
User=helium
PIDFile=/var/run/poc-iot-injector
Restart=always
RestartSec=15
WorkingDirectory=/opt/poc-iot-injector

[Install]
WantedBy=multi-user.target
