[package]
name = "poc-iot-verifier"
version = "0.1.0"
description = "PoC Verifier Server for the Helium Lora Network"
edition.workspace = true
authors.workspace = true
license.workspace = true

[build-dependencies]
cmake = "0.1"

[dependencies]
config = {workspace = true}
clap = {workspace = true}
thiserror = {workspace = true}
serde =  {workspace = true}
serde_json = {workspace = true}
http-serde = {workspace = true}
sqlx = {workspace = true}
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
base64 = {workspace = true}
sha2 = {workspace = true}
tonic = {workspace = true}
triggered = {workspace = true}
futures = {workspace = true}
futures-util = {workspace = true}
prost = {workspace = true}
chrono = { workspace = true }
helium-proto = { workspace = true }
helium-crypto = {workspace = true }
async-trait = {workspace = true}
h3ron = {workspace = true}
geo-types = {workspace = true}
geo = {workspace = true}
xorf = {workspace = true}
lazy_static = {workspace = true}
once_cell = {workspace = true}
file-store = { path = "../file_store" }
metrics = {workspace = true}
node-follower = { path = "../node_follower" }
poc-metrics = { path = "../metrics" }
db-store = {path = "../db_store"}
density-scaler = {path = "../density_scaler/"}
denylist = {path = "../denylist"}
rust_decimal = {workspace = true, features = ["maths"]}
rust_decimal_macros = {workspace = true}
