[Unit]
Description=Mobile Status Server
StartLimitInterval=400
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/poc5g-status
Restart=on-failure
RestartSec=5