RUST_LOG=info
GRPC_SOCKET_ADDR=0.0.0.0:9081
INGEST_STORE=/var/data/poc5g-ingest
INGEST_BUCKET=devnet-poc5g-ingest
DATABASE_URL=database-url
API_TOKEN=api-token
METRICS_SCRAPE_ENDPOINT=127.0.0.1:19000
API_SOCKET_ADDR=0.0.0.0:9080
FOLLOWER_URI=http://localhost:8080
FOLLOWER_START_BLOCK=100
