
# log settings for the application (RUST_LOG format). Default below
# 
# log = "mobile_4packet_verifier=debug"

# Cache location for generated verified reports; Required
cache = "/var/data/verified-reports"

# We will burn data credits from the solana chain every `burn_period` hours.
# Default value is 1 hour.
burn_period = "1 hour"

# In case burn fails we will accelarate and burn in `min_burn_period` minutes instead of `burn_period` hours.
# Default value is 15 minutes.
min_burn_period = "15 minutes"

# If set to true, enables integration with the Solana network. This includes
# checking payer balances and burning data credits. If this is disabled, all
# payers will have a default balance of 1,000,000 data credits, and burned
# data credits will only be stored in the database. This is set to false by
# default.
enable_solana_integration = "false"

[solana]
# Solana RPC. This may contain a secret 
rpc_url = "http://localhost:8899"
# Path to the keypair used to sign data credit burn solana transactions
burn_keypair = ""
# Solana cluster to use. "devnet" or "mainnet"
cluster = "devnet"
# Public key for the Data Credits Mint
dc_mint = "dcuc8Amr83Wz27ZkQ2K9NS6r8zRpf1J6cvArEBDZDmm"
# Public key for the DNT Mint (Mobile mint)
dnt_mint = "mb1eu7TzEc71KxDpsmsKoucSSuuoGLv1drys1oP2jh6"

[database]

url = "postgresql://postgres:password@localhost:5432/postgres"

# Max connections to the database. Default below
#
# max_connections = 10

[ingest]

# Input bucket details for ingest data 

# Name of bucket to access ingest data. Required
#
bucket = "helium-mainnet-mobile-ingest"

# Region for bucket. Defaults to below
#
region = "us-west-2"

# Optional URL for AWS api endpoint. Inferred from aws config settings or aws
# IAM context by default
#
# endpoint = "https://aws-s3-bucket.aws.com"

[output]
# Output bucket for verified reports

# Name of bucket to write details to. Required
#
bucket = ""

# Region for bucket. Defaults to below
#
# region = "us-west-2"

# Optional URL for AWS api endpoint. Inferred from aws config settings or aws
# IAM context by default
#
# endpoint = "https://aws-s3-bucket.aws.com"

[metrics]

# Endpoint for metrics. Default below
#
# endpoint = "127.0.0.1:19000"
