[Unit]
Description=poc-entropy
After=network.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/opt/poc-entropy/bin/poc-entropy
User=helium
PIDFile=/var/run/poc-entropy
Restart=always
RestartSec=15
WorkingDirectory=/opt/poc-entropy

[Install]
WantedBy=multi-user.target
