[package]
name = "solana"
version = "0.1.0"
description = "Solana integration for Helium Oracles"
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
anyhow = { workspace = true }
async-trait = {workspace = true}
anchor-lang = {workspace = true}
anchor-client = {workspace = true}
clap = {workspace = true}
data-credits = {workspace = true}
futures = {workspace = true}
helium-crypto = {workspace = true, features = ["solana"]}
helium-sub-daos = {workspace = true}
metrics = {workspace = true}
serde = {workspace = true}
sha2 = {workspace = true}
solana-client = {workspace = true}
solana-program = {workspace = true}
solana-sdk = {workspace = true}
spl-token = {workspace = true}
thiserror = {workspace = true}
tokio = {workspace = true}
tokio-util = { workspace = true }
tracing = {workspace = true}
