API_TOKEN=api-token
METRICS_SCRAPE_ENDPOINT=127.0.0.1:19000
RUST_LOG=mobile_verifier=info,poc_store=info
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/poc_mobile_verifier
FOLLOWER_URI=http://localhost:8080
INPUT_BUCKET=mainnet-poc5g-ingest
OUTPUT_BUCKET=mainnet-poc5g-verified
LAST_VERIFIED_END_TIME=1664769600
VERIFIER_STORE=/var/data/poc5g-verified
TMP_OUTPUT_DIR=/var/data/poc5g-verified
METRICS_SCRAPE_ENDPOINT=127.0.0.1:19003