[package]
name = "mobile-config-cli"
version = "0.1.0"
description = "Cli for the Helium Mobile subnetwork Config Service"
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
angry-purple-tiger = {version = "1", features = ["helium_crypto"]}
anyhow = {workspace = true}
base64 = {workspace = true}
clap = {workspace = true, features = ["derive", "env"]}
dialoguer = "0.10"
futures = {workspace = true}
helium-crypto = {workspace = true}
helium-proto = {workspace = true}
h3o = {workspace = true}
mobile-config = {path = "../mobile_config"}
prost = {workspace = true}
serde = {workspace = true}
serde_json = {workspace = true}
tokio = {workspace = true, features = ["macros", "rt-multi-thread"]}
tokio-stream = {workspace = true}
tonic = {workspace = true, features = ["tls", "tls-roots"]}
tracing = {workspace = true}
tracing-subscriber = {workspace = true}
