[Unit]
Description=mobile-rewards
After=network.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/opt/mobile-rewards/bin/mobile-rewards
User=helium
PIDFile=/var/run/mobile-rewards
Restart=always
RestartSec=15
WorkingDirectory=/opt/mobile-rewards

[Install]
WantedBy=multi-user.target
