name: Docker CI

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
    tags: ["*"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  compute-base-build-tag:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.out.outputs.tag }}
      trino_image_tag: ${{ steps.out.outputs.trino_tag }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create Tag
        id: out
        run: |
          echo "tag=${{ hashFiles('Dockerfile','rust-toolchain.toml') }}" >> "$GITHUB_OUTPUT"
          echo "trino_tag=${{ hashFiles('helium_iceberg/infra/trino/**') }}" >> "$GITHUB_OUTPUT"
  build-base:
    needs: compute-base-build-tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull Cached Base Image
        run: |
          if docker pull ghcr.io/${{ github.repository }}/base:${{ needs.compute-base-build-tag.outputs.image_tag }}; then
            echo "CACHE_HIT=true" >> $GITHUB_ENV
          else
            echo "CACHE_HIT=false" >> $GITHUB_ENV
          fi
      - name: Set up Docker Buildx
        if: env.CACHE_HIT == 'false'
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
      - name: Build and Push Base Image (if not cached)
        if: env.CACHE_HIT == 'false'
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        with:
          context: .
          file: Dockerfile
          target: base
          push: true
          tags: ghcr.io/${{ github.repository }}/base:${{ needs.compute-base-build-tag.outputs.image_tag }}
  build-trino:
    needs: compute-base-build-tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull Cached Trino Image
        run: |
          if docker pull ghcr.io/${{ github.repository }}/trino:${{ needs.compute-base-build-tag.outputs.trino_image_tag }}; then
            echo "CACHE_HIT=true" >> $GITHUB_ENV
          else
            echo "CACHE_HIT=false" >> $GITHUB_ENV
          fi
      - name: Set up Docker Buildx
        if: env.CACHE_HIT == 'false'
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
      - name: Build and Push Trino Image (if not cached)
        if: env.CACHE_HIT == 'false'
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        with:
          context: helium_iceberg/infra/trino
          file: helium_iceberg/infra/trino/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/trino:${{ needs.compute-base-build-tag.outputs.trino_image_tag }}

  fmt:
    needs: [compute-base-build-tag, build-base]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/base:${{ needs.compute-base-build-tag.outputs.image_tag }}
      options: --user 1001:1001
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-fmt
      cancel-in-progress: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Check formatting
        run: cargo fmt -- --check
  clippy:
    needs: [compute-base-build-tag, build-base]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/base:${{ needs.compute-base-build-tag.outputs.image_tag }}
      options: --user 1001:1001
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-clippy
      cancel-in-progress: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Cache Cargo Target Directory
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: target
          key: clippy-base-${{ needs.compute-base-build-tag.outputs.image_tag }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            clippy-base-${{ needs.compute-base-build-tag.outputs.image_tag }}-
      - name: Clippy
        run: cargo clippy --all-targets --locked -- -Dclippy::all -D warnings
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.get-matrix.outputs.matrix }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Restore Cached Matrix
        id: cache-matrix
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: matrix.json
          key: matrix-${{ hashFiles('Cargo.toml', 'Cargo.lock') }}
      - name: Extract Cargo Workspace Members (if not cached)
        if: steps.cache-matrix.outputs.cache-hit != 'true'
        run: |
          set -e
          cargo metadata --format-version=1 | jq -c '[.workspace_members[] | split("#")[0] | split("/") | last | gsub("_"; "-") | select(. != "metrics")]' > matrix.json
      - name: Save Matrix to Output
        id: get-matrix
        run: echo "matrix=$(cat matrix.json)" >> $GITHUB_OUTPUT
  tests:
    needs: [compute-base-build-tag, build-base, generate-matrix]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/base:${{ needs.compute-base-build-tag.outputs.image_tag }}
      options: --user 1001:1001
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-tests-${{ matrix.package }}
      cancel-in-progress: true
    services:
      postgres:
        image: postgres:14.9-alpine
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      localstack:
        image: localstack/localstack:latest
        env:
          SERVICES: s3
          EAGER_SERVICE_LOADING: 1
        ports:
          - 4566:4566
      minio:
        image: minio/minio:edge-cicd
        env:
          MINIO_ROOT_USER: admin
          MINIO_ROOT_PASSWORD: password
      polaris:
        image: apache/polaris:1.3.0-incubating
        env:
          POLARIS_PERSISTENCE_TYPE: in-memory
          POLARIS_BOOTSTRAP_CREDENTIALS: POLARIS,root,s3cr3t
          POLARIS_REALM_CONTEXT_REALMS: POLARIS
          QUARKUS_OTEL_SDK_DISABLED: "true"
          POLARIS_FEATURES__ALLOW_INSECURE_STORAGE_TYPES: "true"
          POLARIS_FEATURES__SUPPORTED_CATALOG_STORAGE_TYPES: '["S3"]'
          POLARIS_READINESS__IGNORE_SEVERE_ISSUES: "true"
          POLARIS_FEATURES__DROP_WITH_PURGE_ENABLED: "true"
          AWS_REGION: us-west-2
          AWS_ACCESS_KEY_ID: admin
          AWS_SECRET_ACCESS_KEY: password
      trino:
        image: ghcr.io/${{ github.repository }}/trino:${{ needs.compute-base-build-tag.outputs.trino_image_tag }}
        env:
          AWS_ACCESS_KEY_ID: admin
          AWS_SECRET_ACCESS_KEY: password
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Cache Cargo Target Directory
        # Anything above 4min run
        if: contains('["ingest", "mobile-packet-verifier", "mobile-verifier", "price", "solana"]', matrix.package)
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: target
          key: tests-${{ matrix.package }}-base-${{ needs.compute-base-build-tag.outputs.image_tag }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            tests-${{ matrix.package }}-base-${{ needs.compute-base-build-tag.outputs.image_tag }}-

      - name: Minio init
        run: helium_iceberg/scripts/minio-init.sh

      - name: Wait for Trino
        run: |
          until curl -sf http://trino:8080/v1/info | grep -q '"starting":false'; do
            echo "...waiting for Trino..."
            sleep 2
          done
          echo "Trino is up"

      - name: Run tests
        env:
          DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres # trufflehog:ignore
          AWSLOCAL_ENDPOINT: "http://localstack:4566"
          S3_QUALIFIED_HOST: minio
          CATALOG_QUALIFIED_HOST: polaris
          TRINO_HOST: trino
        run: cargo test -p ${{ matrix.package }} --locked
  build-mobile-images:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [fmt, clippy, tests]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          [
            "ingest",
            "mobile-config",
            "mobile-packet-verifier",
            "mobile-verifier",
            "price",
            "reward-index",
          ]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-build-image-${{ matrix.package }}
      cancel-in-progress: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
      - name: Build and Push Base Image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        with:
          context: .
          file: Dockerfile
          target: runner
          push: true
          tags: ghcr.io/${{ github.repository }}/${{ matrix.package }}:${{ github.ref_name }}
          build-args: |
            PACKAGE=${{ matrix.package }}
